* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  color: #15222b;
  font-size: 16px;
}

/* --- Navigation --- */
#globalNav {
  height: 68px;
  box-shadow: 0 1px 0 0 #e0e0e0;
  position: relative;
  background-color: #32475b;
  border-bottom: 0.5px solid #354d60;
}

#globalNavLogo {
  display: inline;
  position: absolute;
  margin-top: 16px;
}

#globalNavLogo a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-left: 80px;
}

#globalNavLogo a:hover {
  text-decoration: underline;
}

#globalNavLogo a span {
  color: white;
  font-size: 14px;
  margin-right: 10px;
}

#uniKölnLogo {
  width: 60px;
  margin-left: 10px;
  margin-top: 4.5px;
  position: absolute;
}

#globalNav > a {
  color: white;
  float: right;
  text-decoration: none;
  padding: 22px 14px 19px 10px;
  font-size: 17px;
}

#globalNav > a:hover {
  background-color: #253746;
}

/* --- MAP --- */
#map {
  height: 95vh;
}

#zoomToExtBtn {
  position: absolute;
  z-index: 1;
  right: 52px;
  bottom: 134px;
  display: inline;
  background-color: rgba(200, 209, 219, 0.6) !important;
  height: 25px !important;
  width: 25px !important;
  border: 1px solid #354d60 !important;
  border-radius: 0 !important;
}

#getlocationbtn {
  position: absolute;
  z-index: 1;
  right: 52px;
  bottom: 88px;
  display: inline;
  background-color: rgba(200, 209, 219, 0.6) !important;
  height: 24px !important;
  width: 24px !important;
  border: 1px solid #354d60 !important;
  border-radius: 0 !important;
}

.ant-btn {
  padding: 10px !important;
}

#zoomToExtBtn:hover,
#getlocationbtn:hover,
.ol-control button:hover {
  border: 2px solid #002c37 !important;
}

/* OL Controls */
.ol-control {
  background-color: rgba(200, 209, 219, 0) !important;
}
.ol-zoom {
  left: unset !important;
  right: 10px !important;
  color: black !important;
  bottom: 15px !important;
  position: absolute !important;
  z-index: 1 !important;
}

.ol-full-screen-false {
  display: none !important;
}

.ol-zoom-in {
  position: absolute !important;
  color: white !important;
  background-color: rgba(200, 209, 219, 0.6) !important;
  width: 25px !important;
  right: 40px !important;
  bottom: 52px !important;
  border: 1px solid #354d60 !important;
}

.ol-zoom-out {
  position: absolute !important;
  color: white !important;
  background-color: rgba(200, 209, 219, 0.6) !important;
  height: 25px !important;
  width: 25px !important;
  right: 40px !important;
  bottom: 10px !important;
  border: 1px solid #354d60 !important;
}

.ol-attribution {
  display: none !important;
}

.ol-zoomslider {
  bottom: 26px !important;
  top: unset !important;
  right: 15px !important;
  left: auto !important;
  width: 30px;
  height: 25px;
  background-color: rgba(200, 209, 219, 0.6) !important;
  border: 1px solid rgba(0, 0, 0, 0.8) !important;
}

.ol-zoomslider-thumb {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute !important;
  right: 0 !important;
}

div.ol-custom-overviewmap,
div.ol-custom-overviewmap.ol-uncollapsible {
  bottom: auto;
  left: auto;
  right: 10px;
  top: 10px;
}

div.ol-custom-overviewmap:not(.ol-collapsed) {
  border: 1px solid black;
}

div.ol-custom-overviewmap:not(.ol-collapsed) button {
  bottom: auto;
  left: auto;
  right: 1px;
  top: 1px;
}

#draggable {
  position: absolute;
  z-index: 1;
  background-color: #e3e8eb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  border-radius: 5px;
  height: 400px;
}

.draggableBackground {
  padding: 5px;
  border-radius: 5px;
  background-color: #4a657d;
  color: white;
}

#BtnWrapper {
  position: absolute !important;
  z-index: 1;
  display: inline;
  bottom: 10px;
  left: 45%;
  margin-left: -120px;
}

.dropdowns {
  padding: 25px;
  margin: 10px;
  margin-right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#logoSchriftzug {
  width: 90%;
  padding: 10px;
  height: auto;
  position: absolute;
  bottom: 10px;
  left: 0;
}

#Name {
  color: white;
  padding: 5px;
  font-size: 24px;
  text-decoration: underline;
  position: absolute;
  top: 0px;
}

#search {
  position: absolute !important;
  z-index: 1 !important;
  left: 20px;
  top: 80px;
}

.ant-tabs-nav-wrap {
  border-bottom: 4px solid #002c37 !important;
  background-color: rgba(200, 209, 219, 0.6) !important;
}

.ant-tabs-nav-wrap span {
  color: #002c37 !important;
}

.ant-tabs-ink-bar-animated {
  background: #002c37 !important;
}

.ant-tabs-tab-active {
  background-color: rgba(74, 101, 125, 0.2) !important;
}

.openFnctButtons {
  position: absolute;
  z-index: 1;
  right: 52px;
  bottom: 180px;
  background-color: rgba(200, 209, 219, 0.6) !important;
  height: 25px;
  width: 25px;
  border: 1px solid #354d60 !important;
}

.ag-center-cols-viewport {
  background-color: rgba(89, 89, 89, 0.4) !important;
}

.ag-header {
  background-color: rgba(74, 101, 125) !important;
}

#buildingDataContainer {
  position: absolute !important;
  z-index: 1 !important;
  bottom: 20px;
  left: 20px;
  overflow-y: scroll;
}

.ant-tabs-tab {
  padding: 14px !important;
}

.ant-card-head {
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.ant-card-body {
  padding: 0 !important;
}

.ant-tabs-bar {
  border-bottom: none !important;
}

.ant-tabs-nav-container-scrolling {
  padding: 0 !important;
}

.ant-tabs-nav-wrap {
  border-bottom: none !important;
}

.ant-tabs-tab-active {
  color: white !important;
}

#buildingDataContainer .ant-tabs-ink-bar-animated {
  background: none !important;
}

#cardMeta {
  padding: 10px;
}

#contactForm {
  width: 60vw;
  margin: 0 auto 0 auto;
}

#cardImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
  padding-bottom: 5px;
}

#siegelUni {
  width: 100px;
  height: auto;
  padding: 10px;
  display: inline;
}

#absolute {
  position: absolute;
  display: inline;
}

.buildingDataLink {
  font-size: 16px;
  padding: 5px;
  display: block;
  color: black;
}

.buildingDataLink:hover {
  color: red;
}

#buildingDataLinkContainer {
  padding: 10px;
}

#absolute {
  position: absolute;
  display: inline;
  padding: 10px;
}

#tabTwoName {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  margin-bottom: 10px;
}

#tabTwoAdress {
  color: rgba(0, 0, 0, 0.45);
}

.buildingInformations {
  padding: 0;
  margin: 0;
}

.ant-tree li {
  display: inline !important;
}

.ant-tree-checkbox-inner {
  width: 60px !important;
  height: 60px !important;

  background: url('../src/data/img/suche.png') no-repeat !important;
  background-size: 100% !important;
}

.ant-tree-title {
  display: none !important;
}
