* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  color: #15222b;
  font-size: 16px;
}

/* --- Navigation --- */
#globalNav {
  height: 68px;
  box-shadow: 0 1px 0 0 #e0e0e0;
  position: relative;
  background-color: #32475b;
  border-bottom: 0.5px solid #354d60;
}

#globalNavLogo {
  display: inline;
  position: absolute;
  margin-top: 16px;
}

#globalNavLogo a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-left: 80px;
}

#globalNavLogo a:hover {
  text-decoration: underline;
}

#globalNavLogo a span {
  color: white;
  font-size: 14px;
  margin-right: 10px;
}

#uniKölnLogo {
  width: 60px;
  margin-left: 10px;
  margin-top: 4.5px;
  position: absolute;
}

#globalNav > a {
  color: white;
  float: right;
  text-decoration: none;
  padding: 22px 14px 19px 10px;
  font-size: 17px;
}

#globalNav > a:hover {
  background-color: #253746;
}

/* --- MAP --- */
#map {
  height: 100vh;
}

#zoomToExtBtn {
  position: absolute;
  z-index: 1;
  margin-top: 270px;
  margin-left: 20px;
  display: inline;
  background-color: white;
  height: 60px;
  width: 60px;
  border: 1px solid #354d60 !important;
  border-radius: 50px;
}

#zoomToExtBtn:hover,
#getlocationbtn:hover,
.ol-control button:hover {
  border: 2px solid #002c37 !important;
}

#getlocationbtn {
  position: absolute;
  z-index: 1;
  margin-top: 190px;
  margin-left: 20px;
  display: inline;
  background-color: white;
  height: 60px;
  width: 60px;
  border: 1px solid #354d60 !important;
  border-radius: 50px;
}

.ol-control button {
  border-radius: 50px !important;
  margin-top: 20px !important;
  height: 60px !important;
  width: 60px !important;
  border: 1px solid #354d60 !important;
  color: black !important;
  background-color: white !important;

  margin-left: 10px !important;
}

.ol-unselectable {
  background-color: white;
  width: 0;
  height: 0;
}

#draggable {
  position: absolute;
  z-index: 1;
  background-color: #e3e8eb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  border-radius: 5px;
  height: 400px;
}

.draggableBackground {
  padding: 5px;
  border-radius: 5px;
  background-color: #4a657d;
  color: white;
}

#BtnWrapper {
  position: absolute;
  z-index: 1;
  display: inline;
  border-bottom: 2px solid #253746;
  bottom: 10px;
  left: 45%;
  margin-left: -100px;
}

.BtnFunctional {
  background-color: white;
  border: 1px solid #002c37;
  margin: 0 5px 0px 5px;
  border-radius: 50px;
  height: 60px;
  width: 60px;
}

.BtnFunctional:hover {
  border: 2px solid #002c37;
  background-color: #c8d1db;
}

.closeImg {
  position: absolute;
  right: 10px;
  top: 6px;
  width: 20px;
  height: auto;
}

.layerIcon {
  width: 30px;
  height: auto;
}

.btnVisible {
  width: 0;
  padding: 0;
}

#logoSchriftzug {
  width: 90%;
  padding: 10px;
  height: auto;
  position: absolute;
  bottom: 10px;
  left: 0;
}
